xrdb -merge /home/fdschmidt/.Xresources
pacman -Qqe > /home/fdschmidt/dotfiles/paru/pkglist.txt
xset r rate 500 60
systemctl --user import-environment DISPLAY
setxkbmap -layout us -variant altgr-intl
xmodmap ~/.Xmodmap
mons -e right
/usr/bin/feh --no-fehbg --bg-scale '/home/fdschmidt/.gruvbox_background.png' 
picom --backend glx --vsync
nm-applet &
